/*                 BASE STYLES
***********************************************/

html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, table, thead, tbody, tfoot, tr, th, td, form, fieldset, button, input, select, option, optiongroup    {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
}
span, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, label, legend, caption, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video	{
	font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

h1, h2, h3, h4, h5, h6	{
	line-height: 1;
	font-weight: 600;
	margin-bottom: 10px;
	font-family: "Segoe UI Light", "Segoe UI", Arial, Verdana, Tahoma, sans-serif;
}
h1	{
	font-size: 22px;
}
h2	{
	font-size: 20px;
}
h3	{
	font-size: 18px;
}
h4	{
	font-size: 16px;
}

li {
	list-style: none;
}
p, li, th, td	{
	font-size: 12px;
	line-height: 1.5;
	word-wrap: break-word;
}
p	{
	color: #333;
	margin-bottom: 10px;
}

img, fieldset, button, input	{
	border: 0;
}
img	{
	width: auto;
	height: auto;
	display: inline-block;
}
table {
	border-spacing: 0;
	table-layout: fixed;
	border-collapse: collapse;
}
th	{
	text-align: left;
	font-weight: normal;
}
a, a:visited	{
	color: #455ca4;
	text-decoration: none;
}

label, button, input, option, legend	{
	font-size: 100%;
	font-family: inherit;
}
label, button, input[type="button"], input[type="submit"]	{
	cursor: pointer;
}
button, input[type="button"]	{
	width: auto;
	overflow: visible;
}
input[type="radio"], input[type="checkbox"]	{
	vertical-align: middle;
}

.ie7 input[type="radio"]	{
	width: 13px;
	height: 13px;
	overflow: hidden;
}
