@using CNM.Web.ViewModels;


@{
    Model.PageTitle =  "Board Member Search";
}

<div id="search-form">
</div>

<form action="" method="post">
    <input type="submit" value="submit" />
</form>

<div id="search-results">
</div>