/*                 BASE STYLES
***********************************************/

body {
	padding-bottom: 20px;
}
.clearfix:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}
.page {
	width: 980px;
	margin: 20px auto 0;
}

.two-col .fieldblock, .two-col li {
	width: 50%;
	float: left;
}
.three-col li {
	width: 33%;
	float: left;
	margin-bottom: 5px;
}
.four-col li {
	width: 25%;
	float: left;
	margin-bottom: 5px;
}
.five-col li {
	width: 20%;
	float: left;
	margin-bottom: 5px;
}
li [type="checkbox"] {
	margin-right: 5px;
}
.create-profile h2 {
	font-size: 16px;
	margin-top: 10px;
}
.create-profile h2.first {
	margin-top: 0;
}

.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
